
a {

}



a.button2 {

	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);

	margin: 20px auto;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;

	color: darkslategrey;
	box-shadow: darkslategrey 0 0px 0px 2px inset;
	display: inline-block;
	min-width: 255px;
	margin-right:5px;

}

a.button2:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: darkslategrey 0 105px 0px 2px inset;
}